<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="button">
        <a href="/gettingStarted"><span class="glyphicon glyphicon-info-sign"></span> Getting Started </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/contactUs"><span class="glyphicon glyphicon-user"></span> Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
