.jumbotron h1 {
  font-size: 55px;
}
p {
  font-size: 18px;
}
label {
  font-weight: 600;
  font-size: 15px;
}
.container {
  width: 95%;
}
.jumbotron {
  background: #532F8C;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px; }
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; }
.jumbotron .btn-primary:hover {
  background: #7646c1; }
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; }
.jumbotron .lang-logo img {
  max-width: 100%; }
textarea { resize:vertical; }
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis path{
    fill: none;
    stroke: none;
}
.bar {
    fill: steelblue;
}

#chart {
    height: 440px;
}