<!DOCTYPE html>
<html ng-app="pwdt">
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-controller="mainController">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Plasma Workflow Decision Tree</h1>
    <h3>This application recommends an analysis technique based on the protein of interest and degree of detection.</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="todo-form">
        <form>
          <!-- <div class="col-md-8"> -->
          <div class="form-group">
            <label>Enter proteins of interest: (eg. Q53GG5, GSTP1)</label>
            <textarea class="form-control" rows="6" placeholder="Enter swiss prot id or gene name..." ng-model="proteinData.text"></textarea>
          </div>
        <!--   </div>
          <div class="col-md-4"> -->
          <div class="form-check">
            <label>Select specificity:</label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ng-model="specificity.text" ng-init="specificity.text='Identified'" value="Identified" checked>
            <span class="form-check-label">
              Identified
            </span>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ng-model="specificity.text" value="Quantified">
            <span class="form-check-label">
              Quantified
            </span>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" ng-model="specificity.text" value="Linear Range">
            <span class="form-check-label">
              Linear Range
            </span>
          </div>
          <!-- </div> -->
          <br>
          <button class="btn btn-danger" type="submit" ng-click="queryTodo()">Submit</button>
        </form>
      </div>
      <br>
      <div class="todo-list">
        <span class="ng-cloak" ng-show="exceptData.length > 0">Proteins not in database: </span>
        <span class="ng-cloak" ng-show="exceptData.length > 0" ng-repeat="except in exceptData">&nbsp;{{ except.unnest }}{{$last ? '' : ','}}</span>
      </div>
      <br>
      <div class="container" style="border:1px solid #cecece">
        <chart-form></chart-form>
        <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
      </div>
      <table class="table table-bordered table-striped">
        <thread>
          <tr>
            <th scope="col">Swiss Prot ID</th>
            <th scope="col">Gene Name</th>
            <th scope="col">Entry Name</th>
            <!-- <th scope="col">Protein Name</th> -->
            <th scope="col">Identified</th>
            <th scope="col">Quantified</th>
            <th scope="col">Good Linearity</th>
            <th scope="col">Broader Linear Range</th>
          </tr>
        </thread>
        <tbody>
          <tr ng-repeat="todo in todoData">
            <td class="ng-cloak">&nbsp;{{ todo.swiss_prot_id }}</td>
            <td class="ng-cloak">&nbsp;{{ todo.gene_name }}</td>
            <td class="ng-cloak">&nbsp;{{ todo.entry_name }}</td>
            <!-- <td>&nbsp;{{ todo.protein_name }}</td> -->
            <td class="ng-cloak">&nbsp;{{ todo.identified }}</td>
            <td class="ng-cloak">&nbsp;{{ todo.quantified }}</td>
            <td class="ng-cloak">&nbsp;{{ todo.good_linearity }}</td>
            <td class="ng-cloak">&nbsp;{{ todo.broader_linear_range }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-7">
      <label>Analysis Results</label>
      <table ng-cloak class="table table-bordered table-striped" ng-show="queryData.length > 0">
        <thread>
          <tr>
            <th scope="col">Swiss Prot ID</th>
            <th scope="col">Gene Name</th>
            <th scope="col">Entry Name</th>
            <th scope="col">Protein Name</th>
            <th scope="col" ng-show="specificity.text == 'Identified'">Identified</th>
            <th scope="col" ng-show="specificity.text == 'Identified'">Recommendation</th>
            <th scope="col" ng-show="specificity.text == 'Quantified'">Quantified</th>
            <th scope="col" ng-show="specificity.text == 'Quantified'">Recommendation</th>
            <th scope="col" ng-show="specificity.text == 'Linear Range'">Linear Range</th>
            <th scope="col" ng-show="specificity.text == 'Linear Range'">Recommendation</th>
          </tr>
        </thread>
        <tbody>
          <tr ng-repeat="query in queryData">
            <td class="ng-cloak">&nbsp;{{ query.swiss_prot_id }}</td>
            <td class="ng-cloak">&nbsp;{{ query.gene_name }}</td>
            <td class="ng-cloak">&nbsp;{{ query.entry_name }}</td>
            <td class="ng-cloak">&nbsp;{{ query.protein_name }}</td>
            <td class="ng-cloak" ng-show="specificity.text == 'Identified'">&nbsp;{{ query.identified=='#N/A'? 'N/A' : query.identified }}</td>
            <td class="ng-cloak" ng-show="specificity.text == 'Identified'">&nbsp;{{ query.identified=='Both'? 'Undepleted' : query.identified=='#N/A'? 'Cannot be identified in either' : query.identified }}</td>
            <td class="ng-cloak" ng-show="specificity.text == 'Quantified'">&nbsp;{{ query.quantified=='#N/A'? 'N/A' : query.quantified }}</td>
            <td class="ng-cloak" ng-show="specificity.text == 'Quantified'">&nbsp;{{ query.quantified=='Both'? 'Undepleted' : query.quantified=='#N/A'? 'Cannot be quantified in either' : query.quantified }}</td>
            <td class="ng-cloak" ng-show="specificity.text == 'Linear Range'">&nbsp;{{ query.good_linearity=='#N/A'? 'N/A' : query.good_linearity }}</td>
            <td class="ng-cloak" ng-show="specificity.text == 'Linear Range'">&nbsp;{{ query.good_linearity=='#N/A'? 'Outside linear range' : query.good_linearity!='Both'? query.good_linearity : query.broader_linear_range=='Same'? 'Undepleted' : query.broader_linear_range }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="container" style="border:1px solid #cecece">
        <p>chart goes here</p>
        <chart-form></chart-form>
        <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
      </div> -->
    </div>
  </div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->



<script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="javascripts/app.js"></script>
</body>
</html>
